body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ed-cer-b{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ed-ta-con, .cer-ta-con{
    width: 91%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cer{
    margin-top: 7rem;
}

.ed-ta, .cer-ta{
    padding: 0 0.3%;
    width: 89.4%;
}

h1{
    margin-top: 0;
    color: #585858;
}

h5{
    color: #585858;
    margin: 0;
    font-size: 1rem;
}

.ed-con, .cer-con{
    width: 89.4%;
    padding: 0.3%;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #63605f;
}

.ed-d-h, .cer-d-h{
    display: flex;
    background-color: #ec5119;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inf{
    padding: 1% 0.9%;
    width: 20%;
    color: gray;   
}

.hd{
    text-align: center;
}

.ext{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.yr{
    width: 25%;
}

.ed-d-a, .cer-d-a{
    display: flex;
    margin-top: 1rem;
}

.ed-d-b, .cer-d-b{
    display: flex;
    margin-top: 1rem;
    background-color: #f0e3df;
}





.contact{
    width: 100%;
    padding: 1vh 0;
    text-align: center;
    background-color: #f17c52;
    margin-top: 7rem;
}

.con-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 1.5rem;
    margin: 0 auto 0.2rem;
}

.con-img-b{
    border-style: none;
    padding: 0.2rem 0.2rem 0;   
}

.con-img-b:hover{
    box-shadow: 0px 0px 10px 5px #63605f;
    transition: box-shadow 0.5s;
}

.con{
    width: 1.5rem;
    border-style: none;
    border-radius: 50px;
}

.mail-p{
    margin-top: 0.5rem;
}

.con-img-n, .mail-ad, .p-nu{
    font-size: 0.75rem;
    color: bisque;
    margin: 0;
}